.sidebar {
    position: fixed;
    top: 10vh; 
    left: 0; 
    width: 25%;
    height: calc(100vh - 10vh); 
    background-color: rgb(28,59,75);
    color: white;
    box-sizing: border-box;
   
       
}

/* .Filters{
    display:flex;
    flex-direction:column;
    height:75%;
} */
